<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aptos" version="0.0.7-beta" manuallyInstalled="true" />
  <package id="Aptos.Indexer" version="0.0.7-beta" />
  <package id="Aptos.Poseidon" version="0.0.7-beta" />
  <package id="BouncyCastle.Cryptography" version="2.4.0" />
  <package id="HotChocolate.Language.SyntaxTree" version="13.9.11" />
  <package id="HotChocolate.Transport.Abstractions" version="13.9.11" />
  <package id="HotChocolate.Transport.Http" version="13.9.11" />
  <package id="HotChocolate.Utilities" version="13.9.11" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.2.0" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" />
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" />
  <package id="Microsoft.Extensions.Http" version="6.0.0" />
  <package id="Microsoft.Extensions.Logging" version="6.0.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" />
  <package id="Microsoft.Extensions.ObjectPool" version="6.0.0" />
  <package id="Microsoft.Extensions.Options" version="6.0.0" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" />
  <package id="Microsoft.IdentityModel.Abstractions" version="8.0.2" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="8.0.2" />
  <package id="Microsoft.IdentityModel.Logging" version="8.0.2" />
  <package id="Microsoft.IdentityModel.Tokens" version="8.0.2" />
  <package id="Microsoft.Net.Http.Headers" version="2.2.0" />
  <package id="NBitcoin" version="7.0.37" />
  <package id="Newtonsoft.Json" version="13.0.3" />
  <package id="StrawberryShake" version="13.9.11" />
  <package id="StrawberryShake.Core" version="13.9.11" />
  <package id="StrawberryShake.Resources" version="13.9.11" />
  <package id="StrawberryShake.Server" version="13.9.11" />
  <package id="StrawberryShake.Transport.Http" version="13.9.11" />
  <package id="System.Collections.Immutable" version="6.0.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" />
  <package id="System.IO.Pipelines" version="6.0.0" />
  <package id="System.Net.Http.Json" version="6.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Security.Cryptography.Cng" version="4.5.0" />
  <package id="System.Text.Encodings.Web" version="8.0.0" />
  <package id="System.Text.Json" version="8.0.4" />
  <package id="System.Threading.Channels" version="6.0.0" />
</packages>